* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --hero-footer-bg-color: #1F2937;
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-link-text-color: #e5e7eb;
    --header-logo-color: #f9faf8;
    --btn-cta-color: #3882f6;
    --information-header-color: #1f2937;
    --quote-background-color: #e5e7eb;
    --quote-text-color: #1f2937;
}

a, li {
    list-style: none;
    text-decoration: none;
    color: var(--hero-secondary-link-text-color);
}

body {
    font-family: Roboto, sans-serif;
}

header {
    background-color: var(--hero-footer-bg-color);
    padding: 1rem 6rem;
}

.logo {
    color: var(--header-logo-color);
    font-size: 24px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links ul{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

/* hero section */

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--hero-footer-bg-color);
    color: var(--hero-main-text-color);
    padding: 5rem 5%;
}


/* content text */

.content-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-text h2 {
    font-size: 48px;
    color: var(--hero-main-text-color);
    font-weight: 900;
}

.content-text p {
    font-size: 18px;
    color: var(--hero-secondary-link-text-color);
}

/* image */

.hero .img {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: grey;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-width: 500px;
    min-width: 400px;
}

.btn {
    background-color: var(--btn-cta-color);
    padding: 0.5rem 2rem;
    width: 120px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    margin-top: 1rem;
}


/* information section */

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: var(--information-header-color);
}

.box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 6rem;
    gap: 2rem;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
    text-align: center;
    gap: 1rem;
    color: #1F2937;
}

.box-img {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

/* quote section */

.quote {
    display: flex;
    flex-direction: column;
    padding: 5rem 5%;
    background-color: var(--quote-background-color);
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: var(--quote-text-color);
}

.quote p {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    color: var(--quote-text-color);
}

/* call to action section */

.cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--btn-cta-color);
    margin: 5rem 10rem;
    border-radius: 10px;
    padding: 2rem 5%;
    gap: 1rem;
}

.cta-text {
    color: var(--hero-main-text-color);
}

.cta .button {
    border: 3px solid var(--hero-main-text-color);
    width: 100%;
    max-width: fit-content;
    padding: 0.5rem 3rem;
    border-radius: 10px;
}


/* footer section */

footer {
    background-color: var(--hero-footer-bg-color);
    color: var(--hero-secondary-link-text-color);
    text-align: center;
    padding: 2rem;
}

@media (max-width: 700px) {
    .navigation {
        display: block;
        text-align: center;
    }

    .hero {
        display: block;
    }

    .hero.btn {
        display: flex;
    }

    .hero .img {
        margin-top: 2rem;
        width: 100%;
        max-width: 300px;
        min-width: 200px;
        height: 300px;
        border-radius: 10%;
        margin: 1rem auto;
    }

    .links ul{
        display: none;
    }

    .box-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .box {
        margin-top: 2rem;
    }

    .information {
        padding: 2rem 5%;
        text-align: center;
    }

    .box-container {
        display: grid;
        grid-row: 2;
    }

    .box {
        margin-top: 1rem;
        gap: 0;
    }

    .quote-text {
        font-size: 1.5rem;
    }

    .quote p {
        font-size: 1rem;
    }

    .cta {
        display: block;
        margin: 2rem 5%;
        line-height: 1.5;
    }

    .cta .button {
        margin-top: 2rem;
        width: 50%;
        text-align: center;
        padding: 1rem 1.5rem;
    }
}